<div class="container">
  <mat-tab-group>
    <mat-tab label="Estudar">
      <div class="mt-20">
        <h1>Perguntas e Respostas Ensaio Backs Sara Sede Interior</h1>

        <div class="cards-container grid gap-20 sm:grid-cols-2">
          <mat-card *ngFor="let question of questions; ">
            <mat-card-header>
              <mat-card-title><h2>{{ question.question }}</h2></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{ question.answer }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Praticar">
      <div class="flip-container">
        <!-- Exibe o progresso: Pergunta X/Y -->
        <h2>Progresso: {{ progress() }}</h2>

        <p class="mb-10">Clique no card para visualizar a resposta.</p>

        <!-- Exibe a pergunta atual com flip-card, mas apenas se o quiz não terminou -->
        <ma-flip-card
          *ngIf="!isQuizOver()"
          [question]="randomizedQuestions()[currentQuestionIndex()].question"
          [answer]="randomizedQuestions()[currentQuestionIndex()].answer"
        >
        </ma-flip-card>

        <!-- Controles para resposta correta ou errada -->
        <div *ngIf="!isQuizOver()">
          <div class="controls">
            <button
              mat-raised-button
              color="warn"
              (click)="nextQuestion(false)"
            >
              Errei
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="nextQuestion(true)"
            >
              Acertei
            </button>
          </div>
        </div>

        <!-- Mensagem de finalização do quiz -->
        <div *ngIf="isQuizOver()">
          <p>
            Quiz finalizado! Você acertou {{ correctAnswers() }} de {{
            randomizedQuestions().length }} perguntas.
          </p>
        </div>

        <!-- Botão para reiniciar o quiz -->
        <div class="reset-btn">
          <button mat-raised-button color="accent" (click)="resetQuiz()">
            Reiniciar Quiz
          </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
