<div class="music-academy-container" [class.drawer-open]="drawerOpened()">
  <header class="toolbar toolbar-header">
    <button (click)="toggleDrawer()" z-button zType="ghost" zSize="sm" type="button" aria-label="Abrir menu">
      <span class="material-icons icon-menu">menu</span>
    </button>
    <button type="button" class="toolbar-title" (click)="navigateToDashboard()">
      Music Academy
    </button>
  </header>

  <div class="drawer-container">
    <div #drawer class="drawer p-16" [class.open]="drawerOpened()">
      <app-navigation-bar (menuChange)="menuChange()" />
    </div>
    <div class="drawer-content">
      <div class="drawer-content-inner">
        <router-outlet />
      </div>
    </div>
  </div>
</div>
