<div class="card-container" [class.flipped]="isFlipped()" (click)="flipCard()">
  <div class="card">
    <div class="card-front">
    <z-card [zTitle]="imageOnly() ? undefined : 'Pergunta'">
      @if (questionImageSrc()) {
        <div class="flip-figure-wrap">
          <img class="flip-figure" [src]="questionImageSrc()!" alt="Figura rítmica" />
        </div>
      }

      @if (imageOnly()) {
        <p class="flip-image-prompt">{{ question() }}</p>
      } @else {
        <p>{{ question() }}</p>
      }
    </z-card>
    </div>
    <div class="card-back">
      <z-card [zTitle]="'Resposta'">
      @if (answerImageSrc()) {
        <div class="flip-figure-wrap">
          <img class="flip-figure" [src]="answerImageSrc()!" alt="Figura rítmica" />
        </div>
      }
        <p>{{ answer() }}</p>
      </z-card>
    </div>
  </div>
</div>
