<z-card class="metronome-container">
  <div class="options">
    <div class="form-field">
      <label>BPM</label>
      <input
        (keydown.enter)="startMetronome()"
        z-input
        type="number"
        [value]="bpm()"
        (input)="setBpm($event)"
        min="30"
        max="300"
      />
    </div>

    <div class="form-field">
      <label>Compasso</label>
      <z-select
        [value]="timeSignature().toString()"
        (selectionChange)="timeSignature.set(+$event)"
      >
        <z-select-item
          *ngFor="let sig of timeSignatures"
          [value]="sig.toString()"
          >{{ sig }}</z-select-item
        >
      </z-select>
    </div>

    <div class="form-field">
      <label>Tempo (minutos)</label>
      <input
        z-input
        type="number"
        [value]="timerDuration()"
        (input)="setTimeDuration($event)"
        min="1"
      />
    </div>
  </div>

  <z-checkbox [formControl]="accentEnabled">
    Som do acento no primeiro tempo
  </z-checkbox>
  <z-checkbox [formControl]="soundEnabled"> Som do metrônomo </z-checkbox>
  <z-checkbox [formControl]="endingSoundEnabled">
    Som ao final da contagem
  </z-checkbox>

  <div class="button-group">
    <button
      *ngIf="!isPlaying()"
      z-button
      zType="default"
      (click)="startMetronome()"
    >
      Iniciar
    </button>
    <button z-button zType="destructive" (click)="stopManualMetronome()">
      Parar
    </button>
  </div>

  <div *ngIf="isPlaying()" class="status-info">
    <z-card
      [zTitle]="'Metrônomo'"
      [zDescription]="(remainingTime() | remainingTime) + ' restantes'"
    >
      <div class="beat-display">
        <span
          *ngFor="let beat of [].constructor(timeSignature()); let i = index"
          [ngClass]="{'active-beat': i < currentBeat()}"
        >
          <span class="icon-circle"></span>
        </span>
      </div>
      <div class="progress-bar">
        <div
          class="progress-fill"
          [style.width.%]="(currentBeat() / timeSignature()) * 100"
        ></div>
      </div>
    </z-card>
  </div>
</z-card>
