.container {
  // coloque um background color que facilite a leitura
  background-color: #dde6e5;
  padding: 20px;
}

span,
p {
  color: black;
}

.song-section {
  margin-top: 10px;
}

.song-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    margin-top: 10px;
  }
}

.audio-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  audio {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }

  .lyrics-container {
    width: 100%;
    max-width: 600px;

    p {
      cursor: pointer;
      padding: 5px;
      font-size: 16px;
      transition: color 0.3s ease;

      &.active {
        font-weight: bold;
        filter: brightness(1.5);
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
