<div class="container">
  <div class="song-info">
    <h1>
      <span>{{ song.title }}</span> -
      <span>{{ song.artist }}</span>
    </h1>

    <p>Tom: {{ song.key }}</p>
  </div>

  <div class="audio-player-container">
    <audio #audioPlayer controls>
      <source [src]="audioSrc" type="audio/mp3" />
      Seu navegador não suporta o elemento de áudio.
    </audio>

    <div class="lyrics-container">
      @for (section of song.sections ; track section.time ; let sectionIndex =
      $index) {
      <p
        class="song-section"
        [class.active]="sectionIndex === sectionActiveIndex"
        (click)="jumpTo(section.time)"
        (keydown)="onKeyDown()"
      >
        {{ section.title }}
      </p>
      @for (lyric of section.lyrics ; track lyric.time ; let lyricIndex =
      $index) {
      <p
        [class.active]="lyricIndex === lyricActiveIndex && sectionIndex === sectionActiveIndex"
        (click)="jumpTo(lyric.time)"
        (keydown)="onKeyDown()"
        maTextFormat
      >
        {{ lyric.text }}
      </p>
      } }
    </div>
  </div>
</div>
