@import 'reset';
@import 'theme';
@import 'classes';
@import 'colors';

html,
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
}

body {
  background-color: var(--background-color);
}

:root {
  @each $name, $color in $project-colors {
    --#{$name}: #{$color};
  }
}
