h1 {
  text-align: center;
}

.steps-content {
  margin-block: 20px;
  text-align: end;
}

nz-countdown {
  display: inline-grid;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #1890ff;
}

.switch-container {
  display: flex;
  gap: 10px;
}

.hearing-container {
  display: grid;
  place-items: center;
}

.hearing-image {
  width: 300px;
}

.start-button {
  display: block;
}

nz-select {
  margin-top: 20px;
}
